@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 128, 0, 128; /* Color de las letras: púrpura */
  --background-start-rgb: 0, 0, 0; /* Color de fondo inicial: negro */
  --background-end-rgb: 50, 0, 50; /* Color de fondo final: púrpura oscuro */
  --button-rgb: 128, 0, 128; /* Color del botón: púrpura */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 128, 255, 128; /* Color de las letras: púrpura */
    --background-start-rgb: 0, 0, 0; /* Color de fondo inicial: negro */
    --background-end-rgb: 50, 0, 50; /* Color de fondo final: púrpura oscuro */
    --button-rgb: 128, 0, 128; /* Color del botón: púrpura */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  background-color: rgb(var(--button-rgb));
  color: white;
}

